:root {
  --primary-bg: url('./assets/clouds.png');
  --primary-bg_color: #5F91EC;
  --guide-bg: url('./assets/sky-test.png');
  --guide-bg-color_top: #000d34;
  --guide-bg-color_bottom: #a800c1;
  --guide-bg-gradient: linear-gradient(#000d34, #a800c1);
  --secondary-font: 'IBM Plex Mono';
  --primary-color: #FFFCEB;
  --secondary-color: #134E2B;
  --accent-color: #5F91EC;
  --link-color: #00449E;
  --body-color: #333333;

  --primary-font: 'IBM Plex Sans';
  --body-font-size: 21px;
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  src: local("IBM Plex Mono Bold"), local("IBMPlexMono-Bold"), url("./fonts/IBM-Plex-Mono/IBMPlexMono-Bold.woff") format("woff"); }

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 700;
  src: local("IBM Plex Mono Bold Italic"), local("IBMPlexMono-BoldItalic"), url("./fonts/IBM-Plex-Mono/IBMPlexMono-BoldItalic.woff") format("woff"); }

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 400;
  src: local("IBM Plex Mono Italic"), local("IBMPlexMono-Italic"), url("./fonts/IBM-Plex-Mono/IBMPlexMono-Italic.woff") format("woff"); }

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 300;
  src: local("IBM Plex Mono Light"), local("IBMPlexMono-Light"), url("./fonts/IBM-Plex-Mono/IBMPlexMono-Light.woff") format("woff"); }

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 300;
  src: local("IBM Plex Mono Light Italic"), local("IBMPlexMono-LightItalic"), url("./fonts/IBM-Plex-Mono/IBMPlexMono-LightItalic.woff") format("woff"); }
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 500;
  src: local("IBM Plex Mono Medium"), local("IBMPlexMono-Medium"), url("./fonts/IBM-Plex-Mono/IBMPlexMono-Medium.woff") format("woff"); }

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 500;
  src: local("IBM Plex Mono Medium Italic"), local("IBMPlexMono-MediumItalic"), url("./fonts/IBM-Plex-Mono/IBMPlexMono-MediumItalic.woff") format("woff"); }

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: local("IBM Plex Mono"), local("IBMPlexMono"), url("./fonts/IBM-Plex-Mono/IBMPlexMono-Regular.woff") format("woff"); }

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 600;
  src: local("IBM Plex Mono SemiBold"), local("IBMPlexMono-SemiBold"), url("./fonts/IBM-Plex-Mono/IBMPlexMono-SemiBold.woff") format("woff"); }

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 600;
  src: local("IBM Plex Mono SemiBold Italic"), local("IBMPlexMono-SemiBoldItalic"), url("./fonts/IBM-Plex-Mono/IBMPlexMono-SemiBoldItalic.woff") format("woff"); }

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 450;
  src: local("IBM Plex Mono Text"), local("IBMPlexMono-Text"), url("./fonts/IBM-Plex-Mono/IBMPlexMono-Text.woff") format("woff"); }

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 450;
  src: local("IBM Plex Mono Text Italic"), local("IBMPlexMono-TextItalic"), url("./fonts/IBM-Plex-Mono/IBMPlexMono-TextItalic.woff") format("woff"); }

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 100;
  src: local("IBM Plex Mono Thin"), local("IBMPlexMono-Thin"), url("./fonts/IBM-Plex-Mono/IBMPlexMono-Thin.woff") format("woff"); }

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 100;
  src: local("IBM Plex Mono Thin Italic"), local("IBMPlexMono-ThinItalic"), url("./fonts/IBM-Plex-Mono/IBMPlexMono-ThinItalic.woff") format("woff"); }

/* IBM Plex Sans */

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  src: local("IBM Plex Sans Bold"), local("IBMPlexSans-Bold"), url("./fonts/IBM-Plex-Sans/IBMPlexSans-Bold.woff") format("woff"); }

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 700;
  src: local("IBM Plex Sans Bold Italic"), local("IBMPlexSans-BoldItalic"), url("./fonts/IBM-Plex-Sans/IBMPlexSans-BoldItalic.woff") format("woff"); }

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 400;
  src: local("IBM Plex Sans Italic"), local("IBMPlexSans-Italic"), url("./fonts/IBM-Plex-Sans/IBMPlexSans-Italic.woff") format("woff"); }

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 300;
  src: local("IBM Plex Sans Light"), local("IBMPlexSans-Light"), url("./fonts/IBM-Plex-Sans/IBMPlexSans-Light.woff") format("woff"); }

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 300;
  src: local("IBM Plex Sans Light Italic"), local("IBMPlexSans-LightItalic"), url("./fonts/IBM-Plex-Sans/IBMPlexSans-LightItalic.woff") format("woff"); }
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  src: local("IBM Plex Sans Medium"), local("IBMPlexSans-Medium"), url("./fonts/IBM-Plex-Sans/IBMPlexSans-Medium.woff") format("woff"); }

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 500;
  src: local("IBM Plex Sans Medium Italic"), local("IBMPlexSans-MediumItalic"), url("./fonts/IBM-Plex-Sans/IBMPlexSans-MediumItalic.woff") format("woff"); }

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local("IBM Plex Sans"), local("IBMPlexSans"), url("./fonts/IBM-Plex-Sans/IBMPlexSans-Regular.woff") format("woff"); }

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: local("IBM Plex Sans SemiBold"), local("IBMPlexSans-SemiBold"), url("./fonts/IBM-Plex-Sans/IBMPlexSans-SemiBold.woff") format("woff"); }

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 600;
  src: local("IBM Plex Sans SemiBold Italic"), local("IBMPlexSans-SemiBoldItalic"), url("./fonts/IBM-Plex-Sans/IBMPlexSans-SemiBoldItalic.woff") format("woff"); }

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 450;
  src: local("IBM Plex Sans Text"), local("IBMPlexSans-Text"), url("./fonts/IBM-Plex-Sans/IBMPlexSans-Text.woff") format("woff"); }

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 450;
  src: local("IBM Plex Sans Text Italic"), local("IBMPlexSans-TextItalic"), url("./fonts/IBM-Plex-Sans/IBMPlexSans-TextItalic.woff") format("woff"); }

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 100;
  src: local("IBM Plex Sans Thin"), local("IBMPlexSans-Thin"), url("./fonts/IBM-Plex-Sans/IBMPlexSans-Thin.woff") format("woff"); }

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 100;
  src: local("IBM Plex Sans Thin Italic"), local("IBMPlexSans-ThinItalic"), url("./fonts/IBM-Plex-Sans/IBMPlexSans-ThinItalic.woff") format("woff"); }
